.btn-delete {
    background: #b71c1c;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    gap: 6px;
    /* box-shadow: 0 0 10px rgba(183, 28, 28, 0.3); */
}

.btn-delete:hover {
    background: #d32f2f;
    transform: translateY(-2px);
    box-shadow: 0 0 14px rgba(211, 47, 47, 0.45);
}

.btn-delete i {
    font-size: 14px;
}


.slide-number {
    width: 100px;
    padding: 8px 10px;
    border-radius: 8px;
    background: #101014;
    border: 1px solid #2c2c2c;
    color: #fff;
    font-size: 0.9rem;
    outline: none;
    transition: 0.25s ease;
    cursor: pointer;
}

.slide-number:hover {
    border-color: #4b4b4b;
}

.slide-number:focus {
    border-color: #0a84ff;
    box-shadow: 0 0 6px rgba(10, 132, 255, 0.4);
}


.upload-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #0563f6;
    padding: 12px 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
}

.upload-btn:hover {
    background: #0d6efd;
    transform: translateY(-2px);
}

.upload-btn i {
    font-size: 18px;
}