html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #333;
}


#videos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}