html,
body {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #0f1116;
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    padding: 40px;
}


#videos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}